* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightcyan;
}

.filter-header {
  display: flex;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: .5rem 0;
}

li.checkbox-list {
  list-style-type: none;
}

.country-card {
  border: 3px solid #333;
  border-radius: .5rem;
  padding: .25rem;
  background-color: beige;
}

.country-card h3 {
  margin-top: .25rem;
  text-decoration: 2px underline #888;
}

.dropdown-menu {
  background-color: beige;
  border: 2px solid #333;
  border-radius: .5rem;
  padding: .25rem .5rem;
}

a.dropdown-item {
  display: block;
  text-decoration: none;
  color: #333;
}
